/*
CSS styles

Colors from the Solarized color set
http://ethanschoonover.com/solarized

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

*/

/* =Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* =Font-face
--------------------------------------------------------------*/

@font-face {
    font-family: 'arvoregular';
    src: url('arvo-regular-webfont.eot');
    src: url('arvo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('arvo-regular-webfont.woff') format('woff'),
         url('arvo-regular-webfont.ttf') format('truetype'),
         url('arvo-regular-webfont.svg#arvoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sansregular';
    src: url('pt_sans-web-regular-webfont.eot');
    src: url('pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pt_sans-web-regular-webfont.woff') format('woff'),
         url('pt_sans-web-regular-webfont.ttf') format('truetype'),
         url('pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}


/* =Global
--------------------------------------------------------------*/

body {
    font-family: 'pt_sansregular', sans-serif;
    min-height: 740px;
    
    background: #007dc3;
    color: #007dc3;    
}

a, a:active, a:visited {
    color: #268bd2;
    text-decoration: none;
}

a:hover, a:focus {
    background: #036;
}

b, strong { 
	font-weight: bold;
}

i, em {
	font-style: italic;
}

ul li {
	color: #2aa198;
	display: table;
	font-size: 30px;
	margin-left: 20px;
	padding: 2px 5px;
}

/* Default step settings */

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-size: 48px;
    line-height: 1.5;
}

/* Remove the margin and make inactive steps a little bit transparent. */
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }


/* =Headings
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'arvoregular', Helvetica, Arial, sans-serif;
	font-size: 80px;
	line-height: 70px;
	text-transform: uppercase;
}

h1, h2 {
	color: #dc322f;
}

h3 {
	color: #268bd2;
}

/* =Fallback message for non-supported browsers
--------------------------------------------------------------*/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}


/* =Styles, step by step
--------------------------------------------------------------*/

/* First slide - Title */

#first {
	background: none;
	text-align: center;
}

#first h1 {
	font-size: 100px;
	margin-top: 200px;
}

#first q {
	margin-top: 30px;
}

/* LibreOffice Impress */

#libreimpress {
	background: none;
	padding: 40px 0;
	text-align: center;
}

/* Intro - Graph and default "slide" style */

.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

	background-color: #EEE8D5;
	color: #586E75;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

#intro q {
	font-size: 49px;
}

#intro p {
	margin-top: 150px;
	text-align: center;
}


/* Big list of objectves */

.biglist {
	padding: 40px 0;
}

.biglist h2, biglist h3 {
	font-size: 72px;
}

#objectives h2 {
	padding-bottom: 50px;
}

#checklist .future {
	display: none;
}


/* Compare apps with objectives */

.future .comparecol {
	display: none;
}

#compare {	
	padding-left: 600px;
}

.comparecol {
	float: left;
	margin: 0 20px 0 0;
	padding-top: 100px;
	width: 65px;
}

.comparecol img {
	height: 65px;
	margin-top: 5px;
	width: 65px;
}

#compare .key {
	background: url('../img/key.png') no-repeat top center;
}

#compare .prezi {
	background: url('../img/prezi.png') no-repeat top center;
}

#compare .html5 {
	background: url('../img/html5.png') no-repeat top center;
}


/* Last slide - Overview */

#overview q {
	font-size: 40px;
	margin-left: 230px;
}

#overview h1 {
	text-transform: capitalize;
}

#overview h3 {
	color: #657B83;
	font-size: 20px;
	line-height: 20px;
	margin-left: 200px;
	text-transform: lowercase;
}


/* =Overview steps
--------------------------------------------------------------*/
#biglistsum { display: none }

/*
    We also make other steps visible and give them a pointer cursor using the
    `impress-on-` class.
*/
.impress-on-overview .step, .impress-on-biglistsum .step {
    opacity: 1;
    cursor: pointer;
}

/*
    And as the last thing there is a workaround for quite strange bug.
    It happens a lot in Chrome. I don't remember if I've seen it in Firefox.
    
    Sometimes the element positioned in 3D (especially when it's moved back
    along Z axis) is not clickable, because it falls 'behind' the <body>
    element.
    
    To prevent this, I decided to make <body> non clickable by setting 
    pointer-events property to `none` value.
    Value if this property is inherited, so to make everything else clickable
    I bring it back on the #impress element.
    
    If you want to know more about `pointer-events` here are some docs:
    https://developer.mozilla.org/en/CSS/pointer-events
    
    There is one very important thing to notice about this workaround - it makes
    everything 'unclickable' except what's in #impress element.
    
    So use it wisely ... or don't use at all.
*/
.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

/* Tablet Layout */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.ribbon {
		display: none;
	}

}

/* Mobile Layout */

@media only screen and (max-width: 767px) {
	
	.ribbon {
		display: none;
	}
	
}

/* Wide Mobile Layout: */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.ribbon {
		display: none;
	}
	
}

/* Print */

@media print {

	.fallback-message, .ribbon {
		display: none;
	}
	
	@page land {
		size: landscape;
	}
	
	.step {
		border: 0; 
		opacity: 1 !important;
		page-break-inside: avoid;
		page-break-after: always;
		position: relative !important;
		-webkit-transform: none !important;
	}
	
	.step img {
		max-height: 100%;
	}
	
	body {
		height: auto !important;
		overflow: visible !important;
	}
	
	#impress {
		position: relative !important;
		-webkit-transform-origin: none !important;
		top: 0 !important; 
		left: 0 !important;
		-webkit-transform: none !important;
	}
	
}
